{% extends 'base.html' %}
{% block content %}
<div class="row"><div class="col">
<h1>Activate</h1><br/><hr/>
</div></div>
<div class="row"><div class="col">

</div></div>
<div class="row"><div class="col">Email: {{ object }}</div></div>

<form action="" method="post">{% csrf_token %}
    <div class="row"><div class="col"><br/></div></div>
<div class="row"><div class="col">Desg: {{ form.desg }}</div></div>

<div class="row"><div class="col"><br/></div></div>

    <button type="submit" class="btn btn-success btn-sm">Submit</button>
</form>

{% endblock %}