{% extends "base.html" %}
{% load static %}
{% block base_head %}
 <link rel="stylesheet" href=''{% static "css/main.css" %}>
{% endblock %}
{% block content %}
<div class='text-center'>
      {{title}}
    <h1>Hello, world! We are working</h1></div>

       <div class='row'>
           <div class="column">
               <img src="{% static 'img/beach.jpg' %}" class='img-fluid' />
               <p>{{content}}</p>
           </div>
       </div>
       <!--#//{/% if premium_content %} for checking if premium content is available or not another way is next line-->
   {% if request.user.is_authenticated %}

   <div class="row">
       <div class="col"><h1>Premium</h1>
           {{premium_content}}<br/>
          <!-- <button href="{/% logout '' %}">Logout</button>-->
       </div>
   </div>{% endif %}
 {% if request.user.is_superuser %}

   <div class="row">
       <div class="col"><h1>SuperUser</h1>
           {{superuser}}
       </div>
   </div> {% endif %}
{% endblock %}




<!--Initial page-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" hrf="{%static "css/main.css" %}">
    <title>Hello, world!</title></head>
  <body>
  <div class='text-center'>
      {{title}}
    <h1>Hello, world! We are working</h1></div>
   <div class='container'>
       <div class='row'>
           <div class="column">
               <img src="{% static 'img/beach.jpg' %}" class='img-fluid' />
               <p>{{content}}</p>
           </div>
       </div>
       <!--#//{/% if premium_content %} for checking if premium content is available or not another way is next line-->
   {% if request.user.is_authenticated %}
   </div><div class="container">
   <div class="row">
       <div class="col"><h1>Premium</h1>
           {{premium_content}}<br/>
          <!-- <button href="{/% logout '' %}">Logout</button>-->
       </div>
   </div></div>{% endif %}
 {% if request.user.is_superuser %}
   </div><div class="container">
   <div class="row">
       <div class="col"><h1>SuperUser</h1>
           {{superuser}}
       </div>
   </div></div>{% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>